.SeeMore {
  position: absolute !important;
  z-index: 1000 !important;
  bottom: 30px !important;
  left: 40px !important;
  opacity: 0;
  transition: all 0.8s;
}
.City-item img{
    transition: 0.8s ease-in-out;
}
.City-item:hover .SeeMore {
  opacity: 1;
  bottom: 40px !important;
}
.City-item:hover img{
transform: scale(1.2);
}
